<h1>New</h1>

<div class="new_form">
  <%= form_for @event do |f| %>

  <div>
    <%= f.label :From_who? %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :What_happened_this_time? %>
    <%= f.text_field :reason %>
  </div>

    <%= f.label :Owes_me %>
  <div class="emoji-picker-container">
    <%= f.text_field :award, class:"text-box", data: { emojiable: true } %>
  </div>

  <div>
    <%= f.submit :class => "button" %>
  </div>
</div>

<% end %>

<div class="back">
<%= link_to 'Back', events_path %>
</div>
