<h1>You Owe Me</h1>

<%= form_for @event do |f| %>

<div>
  <%= f.label :who %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :reason %>
  <%= f.text_field :reason %>
</div>

<div class ="emoji-picker-container">
  <%= f.label :award %>
  <%= f.text_field :award, data: { emojiable: true } %>
</div>

<div>
  <%= f.submit %>
</div>

<% end %>
<%= link_to 'back', events_path %>
