<h1>You Owe Me</h1>

<%= form_for @event do |f| %>

<div>
  <%= f.label :Who %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :For_what %>
  <%= f.text_field :reason %>
</div>

<div>
  <%= f.label :award %>
  <%= f.text_field :award %>
</div>

<div>
  <%= f.submit %>
</div>

<%= link_to 'back', events_path %>
<% end %>
