<p>
  <strong>Who:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>For What:</strong>
  <%= @event.reason %>
</p>

<h2>Have Something to Say? </h2>
<%= form_for([@event, @comment]) do |f| %>
<%= f.label :Enter_Here %><br>
<p class="emoji-picker-container">
  <%= f.text_field :body, data: { emojiable: true } %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>

<%= link_to 'Back', events_path %>

<h2>Comments</h2>
<% @event.comments.each do |comment| %>
<p>
  <%= comment.body %>
  <%= link_to 'Delete Comment', [comment.event, comment],
  method: :delete,
  data: {confirm: "Are you sure"} %>
</p>
<% end %>
